# Dependências
node_modules/

# Arquivos de ambiente
.env
.env.*

# Logs
logs
*.log
npm-debug.log*

# Diretório de arquivos temporários
temp/
*.ogg
*.wav

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE/Editor
.idea/
.vscode/
*.swp
*.swo

# Arquivos de build
dist/
build/

# Arquivos de cache
.cache/
.npm/

# Outros
*.bak
