# OpenAI
OPENAI_API_KEY=
ASSISTANT_ID=

# Groq
GROQ_API_KEY=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# WhatsApp
WAPI_URL=
WAPI_TOKEN=
WAPI_CONNECTION_KEY=
FINANCIAL_DEPT_NUMBER=

# Environment
NODE_ENV=production
PORT=1988
