# Nuvemshop
NUVEMSHOP_ACCESS_TOKEN=seu_token_aqui
NUVEMSHOP_STORE_ID=seu_store_id_aqui

# 17track
TRACK17_API_KEY=sua_chave_api_aqui

# Redis
REDIS_URL=redis://localhost:6379

# App
PORT=3000
NODE_ENV=production
LOG_LEVEL=info
